/* Extra small devices (xs): <576px */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small devices (sm): ≥576px */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices (md): ≥768px */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices (lg): ≥992px */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (xl): ≥1200px */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Extra extra large devices (xxl): ≥1400px */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Column */
.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* Стили для хедера */
header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-bottom: solid 1px var(--main-bg);
}


/* Стили для футера */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    border-top: solid 1px var(--main-bg);
}

.content {
    flex: 1;
    padding: 50px; /* Регулируйте в соответствии с вашими потребностями */
}
